html{
    background: linear-gradient(to bottom right, rgb(246, 246, 255), 75%, rgb(225, 221, 255));
    background-attachment: fixed;
    font-family: sans-serif;
    margin: auto;
    width: 80%;
    max-width: 800px;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-padding: 80px;
}

/*ヘッダー*/
header{
    position: fixed;
    background: linear-gradient(to right, rgb(70, 77, 94), 25%, rgb(49, 49, 49));
    align-items: center;
    display: flex;
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: auto;
}

header h2{
    font-family: "Merriweather", serif;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
}

header ul{
    display: flex;
    list-style-type: "";
    gap: 20px;
    justify-content: right;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 16%;
    font-family: "Merriweather", serif;
    font-size: 125%;
    font-weight: bold;
}

header ul a:link,
header ul a:active,
header ul a:visited{ color: rgb(160, 160, 160);}
header ul a:hover{ color: rgb(255, 255, 255); }
.pagetop:link,
.pagetop:active,
.pagetop:visited{ color: rgb(175, 226, 255);}
.pagetop:hover{ color: rgb(43, 255, 227);}
a{text-decoration: none;}

footer{
    text-align: right;
    margin: 50px auto 50px auto;
}
.copyright{
    font-family: "Merriweather", serif;
    color: rgb(104, 104, 104);
}